.todo-list-block{
    display: inline-block;
    width: 100%;
}

.todo-list .list-group-item .todo-list-form{
    margin-top: .45rem;
    padding: .25rem .75rem;
    box-shadow: 2px 2px rgba(0,0,0,.5);
    box-sizing: border-box;
}
.todo-list{
    width: 100%;
}

.todo-list-form{
    display: flex;
    margin-top: .75rem;

}